<div class = "container">
<h2>Client Information</h2>
<hr/>
<form #f="ngForm">

  <div class="container">
    <label for="cname"><b>Client Name</b></label>
    <input type="text" placeholder=" Client Name" [(ngModel)]="clientFields.name" name="name">

    <label for="eng"><b>Engagement Name</b></label>
    <input type="text" placeholder=" Engagement" [(ngModel)]="clientFields.engagement" name="engagement">

    <label for="code"><b>Engagement Code</b></label>
    <input type="text" placeholder=" Client/Engagement code" [(ngModel)]="clientFields.code" name="code">

    <label for="sys"><b>System</b></label>
    <select name="sys" [(ngModel)]="clientFields.sys">
      <option value="Empty"></option>
      <option value="CBS-FIS">CBS-FIS</option>
      <option value="CBS-Temenos">CBS-Temenos</option>
      <option value="others">Others</option>

    </select>


    <label for="vertical"><b>Banking Vertical</b></label>
    <select name="vertical" [(ngModel)]="clientFields.vertical">
      <option value="Empty"></option>
      <option value="retail">Retail</option>
      <option value="corporate">Corporate</option>
      <option value="payments">Payments</option>
      <option value="treasury">Treasury</option>
      <option value="invBanking">Inv Banking</option>
      <option value="wealthMgmt">Wealth Mgmt</option>
      <option value="Islamic">Islamic</option>
      <option value="others">Others</option>

    </select>

    <label for="prj"><b>Project Methodology</b></label>
    <select name="method" [(ngModel)]="clientFields.method">
      <option value="Empty"></option>
      <option value="waterfall">Waterfall</option>
      <option value="agile">Agile</option>
      <option value="others">Others</option>

    </select>

    <label for="partner"><b>Engagement Partner</b></label>
    <input type="text" placeholder=" Engagement Partner" [(ngModel)]="clientFields.partner" name="partner">


    <label for="manager"><b>Project Manager</b></label>
    <input type="text" placeholder=" Project Manager" [(ngModel)]="clientFields.manager" name="manager">

    <label for="rem"><b>Remarks</b></label>
    <textarea maxlenght=250 placeholder=" Remarks" [(ngModel)]="clientFields.remarks" name="remarks"></textarea>




  </div>

  <div *ngIf="renderSaveBtn(); else updateBtn" style="background-color:#f1f1f1">
    <table>
      <tr>
        <td width=300><input class="btn btn-dark" type="reset"></td>
        <td width=300><button class="btn btn-dark" type="button" (click)="stepBack()">Previous</button></td>
        <td width=300><button class="btn btn-dark" type="button" (click)="saveClientDetails()" routerLink="/project">Next</button></td>

      </tr>
    </table>
  </div>
  <ng-template #updateBtn>
    <div style="background-color:#f1f1f1">
      <table>
        <tr>
          <td width=300><button class="btn btn-dark" style="margin-left: 250px;" type="button" (click)="updateClientDetails()">Update</button></td>
          <td width=300><button class="btn btn-dark"  type="button" [routerLink]="['/clientdetails', id]">Cancel</button></td>
        </tr>
      </table>
    </div>  
  </ng-template>
</form>
</div>
