<app-header-login></app-header-login>
<h3>About</h3>
<form>
    <div class="container"><br>
        EY Automated Repository (EAR) Framework is designed to develop a Web-based tool to capture Business Requirements and Functional/Technical Specifications as per business needs. <br><br>
Primary objective of the tool is to document the requirements during Workshop sessions between Stakeholders and Participants
This helps the client to overview the narrated Business requirements and review it immediately. This eliminates the risk of deviations while documenting requirements in a traditional method i.e., Requirements are documented post workshop sessions. 
As the requirements are reviewed during workshops, the lead time to perform final review of BRD/FSD and receiving Sign-off is lesser. <br><br>

Phase 1 of the project is targeted to develop Business Requirement Document (BRD)<br>
Phase 2 of the project is targeted to develop Technical Specification Document (TSD), Test Strategy document, Requirement Traceability Matrix (RTM) and Change Request (CR). <br><br>

The terminologies associated with CBS can be modified in the tool to make it adaptable for different Core Banking systems. <br><br>

The Templates such as BRD, FSD, TSD etc can be uploaded in the EAR repository and the mapping between the fields should be established. Upon filling the requirements in the tool and on click of ‘Generate document’ the tool generates the respective document, which is ready for Review / approval.<br><br>

    </div>
</form>

