<app-header-login></app-header-login>

<h3>Reset Password</h3>
<form>

<div class="container">
    <br>
    
    <label > <b>User Email: </b></label>
    <input type="text" name="uemail" placeholder=" Enter User Email">
    <label > <b>Old Password </b></label>
    <input type="pwd" name="oldpwd" placeholder=" Enter Old Password">
    <label > <b>New Password: </b></label>
    <input type="pwd" name="newpwd" placeholder=" Enter new Password">
    <label > <b>Re-enter New Password: </b></label>
    <input type="pwd" name="renewpwd" placeholder=" Re-enter New Password">
</div>
<div style="background-color:#f1f1f1">
    <table>
      <tr>
        <td width=300><button class="btn btn-dark" type="button" routerLink="">Cancel</button></td>        
        <td width=300> <button type="reset" class="btn btn-dark ">Clear</button></td>
        <td width=300><button class="btn btn-dark" type="button" >Update</button></td>       

      </tr>
    </table>
  </div>
</form>