<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
    }


    form {
        border: 3px solid #f1f1f1;
    }
</style>

<body>
    <form>
        <div>
            <h2>Business Requirement</h2>BRD details
        </div>
        <div>
            <h2>Functional Specification</h2>FSD details
        </div>        
        <div>
            <h2>Technical Specification</h2>TSD details
        </div>
        <div>
            <h2>Requirement Traceability Matrix</h2>RTM details
        </div>
        <div>
            <h2>Test Scenarios</h2>Test Scenarios
        </div>
        <button type="button" (click)="generatePdf()">Generate</button>
    </form>
</body>

