<h3>{{clientInfo.name}}</h3>
<hr />
<form>
    <div class="row">
        <table class="table table-bordered col-md-10">

            <tbody>


                <tr>

                    <th>
                        <b>Engagement Name</b>
                    </th>


                    <td>
                        {{clientInfo.engagement}}
                    </td>


                </tr>
                <tr>
                    <th>
                        <b>Engagement code</b>
                    </th>
                    <td>
                        {{clientInfo.code}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <b>System</b>
                    </th>
                    
                  
                    <td>
                        {{clientInfo.sys}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <b>Banking Vertical</b>
                    </th>
                    <td>
                        {{clientInfo.vertical}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <b>Project Methodology</b>
                    </th>
                    <td>
                        {{clientInfo.method}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <b>Engagement Partner</b>
                    </th>
                    <td>
                        {{clientInfo.partner}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <b>Project Manager</b>
                    </th>
                    <td>
                        {{clientInfo.manager}}
                    </td>
                </tr>
            </tbody>
        </table>
      
    </div>
    <div class=" col-md-10" style="background-color:#f1f1f1">
        <button class="btn btn-dark" type="button" style="margin-left: 585px;"
            (click)="editClientDetails()">Edit</button>
    </div>
</form>