<app-header></app-header>
<h3>{{clientInfo.name}}</h3>
<form>
<div>
    <b>Engagement Name :</b>{{clientInfo.engagement}}<br><br><br>
    <b>Engagement code :</b> {{clientInfo.code}}<br><br><br>
    <b>System :</b> {{clientInfo.sys}}<br><br><br>
    <b>Banking Vertical :</b> {{clientInfo.vertical}}<br><br><br>
    <b>Project Methodology :</b> {{clientInfo.method}}<br><br><br>
    <b>Engagement Partner :</b> {{clientInfo.partner}}<br><br><br>
    <b>Project Manager :</b> {{clientInfo.manager}}<br><br><br>
</div>
</form>
