  form {
    border: 3px solid #f1f1f1;
    margin-top: 30px;
  }

  .button{
    display: flex;
    padding: 0 16px;
    max-width: 960px;
  }
  
  .docs{
    width: 100%;
    margin: 8px 0;
    display: list-item;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  td{ 
    text-align:center;   
  }

  .scrollbar {
    height: 300px;
    margin-top: 20px;
    width: 1645px;
    overflow-y: scroll;
  }
  
  .force-overflow {
    min-height: 450px;
  }

  .clientNameStyle{
    text-align: left;
    margin-top: 120px;
  }

  .searchBoxAlignment{
    margin-top:100px;
    text-align: right;
  }

  .docRepoBtnStyl{
    margin-left: 700px; 
    width: 150px;
  }
 