<app-header-login></app-header-login>

<h3>Forgot Password?</h3>
<form>

<div class="container">
    <br>
    <label > <b>Registered Email Id: </b></label>
    <input type="text" name="emailId" placeholder=" Enter Registered Email Id"><br><br>
</div>
<div style="background-color:#f1f1f1">
    <table>
      <tr>
        <td width=300><button class="btn btn-dark" type="button" routerLink="">Cancel</button></td>
        <td width=300><button class="btn btn-dark" type="button" >Send Password</button></td>       

      </tr>
    </table>
  </div>
</form>