<app-header></app-header>
<h3>Business Requirement</h3>

<form #f="ngForm">
    <div class="container">
    
      <table>
        <tr>
          <label for="module"><b>BRD Name</b></label>
        </tr>
        <tr>
     <td style="width: 100%;">
        
      <input type="text" placeholder="BRD Name" [(ngModel)]="brdFields.module" name="module" [readonly]="isReadonly" style="width: 100%;">
      </td>
      <td style="width: 10%;">
        <div *ngIf ="isReadonly">
          <mat-icon vertical-align="center" (click)="open(mymodal)" style="cursor: pointer;">edit</mat-icon> 
          <!-- <button type="button" class="btn btn-dark" (click)="open(mymodal)">Edit</button> -->
        </div>
      </td>
      </tr>
        </table>
 
        <label for="intro"><b>Introduction</b></label>
        <textarea maxlenght=250 placeholder=" Introduction" [(ngModel)]="brdFields.introduction" name="introduction"></textarea>

        <label for="purpose"><b>Purpose</b></label>
        <textarea maxlenght=250 placeholder=" Purpose" [(ngModel)]="brdFields.purpose" name="purpose"></textarea>

        <label for="projectScope"><b>Project Scope</b></label>
        <textarea maxlenght=250 placeholder=" Project Scope"  [(ngModel)]="brdFields.projectScope" name="projectScope"></textarea>

        <label for="documentScope"><b>Document Scope</b></label>
        <textarea maxlenght=250 placeholder=" Document Scope" [(ngModel)]="brdFields.documentScope" name="documentScope"></textarea>

        <label for="relatedDoc"><b>Related Documents</b></label>
        <input type="file" [(ngModel)]="brdFields.relatedFiles" name="relatedFiles">

        <label for="acr"><b>Acronyms and Definitions</b></label>
        <textarea maxlenght=250 placeholder=" Acronyms and Definitions"  [(ngModel)]="brdFields.acr" name="acr"></textarea>

        <label for="proj"><b>Project Overview</b></label>
        <textarea maxlenght=250 placeholder=" Project Overview" [(ngModel)]="brdFields.projectOverview" name="projectOverview"></textarea>

        <label for="bus"><b>Business Objective</b></label>
        <textarea maxlenght=250 placeholder=" Business Objective" [(ngModel)]="brdFields.businessObjective" name="businessObjective"></textarea>

        <label for="busbk"><b>Business Background</b></label>
        <textarea maxlenght=250 placeholder=" Business Background" [(ngModel)]="brdFields.businessBackground" name="businessBackground"></textarea>

        <label for="func"><b>Current/Existing Functionality</b></label>
        <textarea maxlenght=250 placeholder=" Current/Existing Functionality" [(ngModel)]="brdFields.currentFunc"  name="currentFunc"></textarea>

        <label for="efunc"><b>Expected/Proposed Functionality</b></label>
        <textarea maxlenght=250 placeholder=" Expected/Proposed Functionality" [(ngModel)]="brdFields.expeFunc" name="expeFunc"></textarea>

        <label for="proc"><b>Process Workflow</b></label>
        <textarea maxlenght=250 placeholder=" Process Workflow" [(ngModel)]="brdFields.workflow" name="workflow"></textarea>

        <label for="imp"><b>Impacted System (country specific if any)</b></label>
        <textarea maxlenght=250 placeholder=" Impacted System (country specific if any)" [(ngModel)]="brdFields.impact" name="impact"></textarea>

        <label for="funreq"><b>Functional Requirements</b></label>
        <textarea maxlenght=250 placeholder=" Functional Requirements"  [(ngModel)]="brdFields.funcreq" name="funcreq"></textarea>

        <label for="inscope"><b>In Scope</b></label>
        <textarea maxlenght=250 placeholder=" InScope" [(ngModel)]="brdFields.inScope" name="inScope"></textarea>

        <label for="outscope"><b>Out Of Scope</b></label>
        <textarea maxlenght=250 placeholder=" Out Of Scope" [(ngModel)]="brdFields.outScope" name="outScope"></textarea>

        <label for="reprot"><b>Reporting</b></label>
        <textarea maxlenght=250 placeholder=" Reporting" [(ngModel)]="brdFields.report"  name="report"></textarea>

        <label for="asump"><b>Asumptions and Constraints</b></label>
        <textarea maxlenght=250 placeholder=" Asumptions and Constraints" [(ngModel)]="brdFields.asumptions" name="asumptions"></textarea>

        <label for="ref"><b>Reference</b></label>
        <textarea maxlenght=250 placeholder=" Reference" [(ngModel)]="brdFields.ref" name="ref"></textarea>

        <label for="app"><b>Appendix</b></label>
        <textarea maxlenght=250 placeholder=" Appendix" [(ngModel)]="brdFields.app" name="app"></textarea>

        <label for="rev"><b>Revision History</b></label>
        <textarea maxlenght=250 placeholder=" Revision History" [(ngModel)]="brdFields.rev"  name="rev"></textarea>

    </div>
    <div style="background-color:#f1f1f1">
        <table>
          <tr>
            <td width=300><input class="btn btn-dark" type="reset"></td>
            <td width=300><button class="btn btn-dark" type="button" routerLink="/project">Previous</button></td>
            <!-- <td width=300><button class="btn btn-dark" type="button" (click)="saveBrdDocument(f)">Save</button></td> -->
            <td width=300><button class="btn btn-dark" type="button" (click)="updateSessionStorage(f)">Preview</button></td>

          </tr>
        </table>
      </div>

      <ng-template #mymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure, You want to edit module name?
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button> -->
           <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
      </ng-template>
</form>
