<!-- <div class="container" role="main">
    <div class="toolbar" role="banner">
        <img width="80" alt="EY Logo" src="./assets/EY.PNG" />
        <span>
            <h1 style="font-size: 1.5rem;">EY Automated Requirement Framework</h1>
        </span>
        <div  *ngIf="this.router.url !== '/'">
           
        <a routerLink="/" >
            
            <div class="logoutAlign">Logout</div>
        </a>
        
        </div>
    </div><br><br>
    <div class="row rowAlign">
        <nav class="navbar navbar-light navBarAlign">
            <ol class="nav nav-tabs" class="nav justify-content-start">
                <li *ngFor="let item of currentOrderMappingUrls | keyvalue ">
                    <a routerLink={{item.value[0]}} class="nav-link" routerLinkActive><u>{{item.value[1]}}</u><b>></b>
                    </a>
                </li>
            </ol>
        </nav>
    </div> -->




<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-link" style="color: aliceblue; "> <img width="30" height="30" alt="EY Logo"
            class="d-inline-block align-top" src="./assets/EY.PNG" />EY Automated Requirement Framework</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"></a>
            </li>
        </ul>
        <div *ngIf="this.router.url !== '/'">

            <a routerLink="/" class="nav-link"> Logout</a>

        </div>
    </div>
</nav>




    <div class="row">
    </div>

    <!-- <div class="card bg-light mb-3" >
              <div class="card-body">
            <router-outlet></router-outlet>
        </div>
      </div> -->

    <!-- <div class="card text-white bg-dark mb-3">
       
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
      </div> -->
      <div *ngIf="this.router.url == '/'">
        <router-outlet></router-outlet>
      </div>
      <main role="main" class="container">
    <div class="row">
        <div *ngIf="this.router.url == '/folder'" class="col-md-2" style="right: 220px;">
            <app-maindashboard></app-maindashboard>
        </div>
        <div *ngIf="this.router.url != '/folder'" class="col-md-2" style="right: 220px;">
       </div>
        <div class="col-md-9">
      <div *ngIf="this.router.url !== '/'" class="card text-white bg-secondary mb-3">
        <nav class="navbar navbar-light navBarAlign">
            <ol class="nav nav-tabs" class="nav justify-content-start">
                <li *ngFor="let item of currentOrderMappingUrls | keyvalue ">
                    <a routerLink={{item.value[0]}} class="nav-link" routerLinkActive><u>{{item.value[1]}}</u><b>></b>
                    </a>
                </li>
            </ol>
        </nav>

        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
    </div>  
    
    


    <!-- <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> -->

    <!-- <div class="card border-dark mb-3">

        <div class="card-body text-dark">
            <router-outlet></router-outlet>
        </div>
    </div> -->