<app-header></app-header>
  

<h3>Project Details</h3>

    <form>
        <div class="container">
            <label for="phase"><h5>Project Phase</h5></label>
            <div class="radio">
                <table>
                    <tr>
                        <td width=200><mat-radio-button  name="phase" value="analysis" #analysis>Analysis   </mat-radio-button>                     </td>
                        <td width=200><mat-radio-button   name="phase"
                                value="development" #development>Development </mat-radio-button></td>
                        <td width=200><mat-radio-button   name="phase" value="testing" #testing>Testing</mat-radio-button></td>
                    </tr>
                </table>
            </div>
            
        <div class="analysis"*ngIf ="analysis.checked">
            <label for="doc"><b>Document Type</b></label>
            <table>
                <tr>
                    <td width=320><mat-radio-button name="analysisphase" value="BRD">Business Requirement (BRD)</mat-radio-button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="development" *ngIf="development.checked">
            <label for="doc"><b>Document Type</b></label>
            <table>
                <tr>
                    
                    <td width=320><mat-radio-button name="devphase" value="FSD"  >Functional Specification (FSD)</mat-radio-button></td>
                    <td width=300><mat-radio-button name="devphase" value="TSD" >Technical Specification (TSD) </mat-radio-button></td>
                </tr>
            </table>
        </div>

        <div class="testing"  *ngIf="testing.checked">
            <label for="doc"><b>Document Type</b></label>
            <table>
                <tr>
                    <td width=380><mat-radio-button name="testphase" value="RTM"  >Requirement Traceability Matrix (RTM)</mat-radio-button></td>
                    <td width=300><mat-radio-button name="testphase" value="test"  >Test Scenario/Test Case </mat-radio-button></td>


                </tr>
            </table>
        </div>
        </div>
        <div style="background-color:#f1f1f1">
        <table > 
            <tr  ><td width=900><input type="checkbox" name="changereq" value="changereq">Change Request</td></tr>
        </table>
        <table>
            <tr>
                <td width=300><button type="button" class="btn btn-dark" routerLink="/client">Previous</button></td>
                <td width=300><button type="button" class="btn btn-dark" routerLink="/folder">Cancel</button></td>
                <td width=300><button type="button"  class="btn btn-dark" routerLink="/brd">Next</button></td>
            </tr>
        </table>
        </div>
    </form>


