    form {
      border: 3px solid #f1f1f1;
    }

    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      width: 25%;
      margin: 12px auto;
    }

    span.psw {
      padding-top: 16px;
      padding: 12px 50px;
    }

    h3 {
      margin-top: 100px;
      padding-left: 600px;
    }