
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>

<body>

<h2>Document Repository</h2><br><br>
<h4> Client : ABC Bank </h4> <br> <br>

<table>
  <tr>
    <th>Business Requirements</th>
    <th>Functional Spec</th>
    <th>Technical Spec</th>
    <th>Requirements Traceability</th>
    <th>Test Scenario</th>
  </tr>
  <tr>
    <td><a href="">BRD_v0.1</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
    <td><a href="">FSD_v0.1</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
    <td><a href="">TSD_v0.1</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
    <td><a href="">RTM_v0.1</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
    <td><a href="">TestScenario_v0.1</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
  </tr>
    <tr>
        <td><a href="">BRD_v0.2</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
        <td></td>
        <td></td>
        <td><a href="">RTM_v0.2</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
        <td><a href="">TestScenario_v0.2</a><br><mat-icon>edit</mat-icon><mat-icon>delete</mat-icon></td>
    
  </tr>
</table>

<div  style="background-color:#f1f1f1">
    <table><tr>
    
    <td ><button type="button" routerLink="/client">Previous</button></td>
    <td><button type="button" routerLink="/folder">Cancel</button></td>
   <td><button type="button" routerLink="/folder">Next</button></td>
  </tr>
  </table>
  </div>