  /* h2 {
    margin-top: 100px;
    padding-left: 350px;
  }

  form {
    border: 3px solid #f1f1f1;
    margin-top: 30px;
  }

  .button {
    margin: 16px, 0;
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
  }

  .docs {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  td {
    text-align: center;
  }

  .formAlign {
    width: 950px;
    margin-left: 350px;
  } */