<app-header></app-header>
<h2>Document Repository</h2>
<form>

  <h4>ABC Bank </h4> <br>
  <div>
    <mat-icon>create_new_folder</mat-icon><a href="#" routerLink="/project">Create New Document</a><br><br> </div>
  <div>

<div class="container">
 
    <div class="docs"><mat-icon>folder</mat-icon><a href="#" routerLink="/brddocs">BRD</a><br><br></div>
    <div class="docs"><mat-icon>folder</mat-icon><a href="#" routerLink="/fsddocs">FSD</a><br><br></div>
    <div class="docs"><mat-icon>folder</mat-icon><a href="#" routerLink="/tsddocs">TSD</a><br><br></div>
    <div class="docs"><mat-icon>folder</mat-icon><a href="#" routerLink="/rtmdocs">RTM</a><br><br></div>
    <div class="docs"><mat-icon>folder</mat-icon><a href="#" routerLink="/testdocs">Test Scenario</a><br><br></div>
  </div>

  <div style="background-color:#f1f1f1">
    <table>
      <tr>
        <td width=550><button type="button" class="btn btn-dark" routerLink="/folder">Home</button></td>
      </tr>
    </table>
  </div>
  </div>

</form>