 
  .button{
    margin: 16px, 0;
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
  }
  .pdfTable {
      border: 3px solid #f1f1f1;
      background-color : #fff;
    }

    input[type = "text"],select,textarea{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

td,h3,th{
 
  text-align:center; 

}
.prev {
    border: 1px solid black;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
