<h2>Document Preview</h2>
<hr/>
<kendo-pdf-export #pdf margin="1cm">
    <div class="pdfTable" id="pdfTable" #pdfTable style="background-color:#a19b8a;">

    <div class="container">

        <h3>Business Requirements Document  <br>
            (Functional Requirements Only)<br><br>
            {{clientFields.name}} - {{brdFields.module}}</h3>
            <img   width="600"  height="500"  alt="EY Logo"    src="./assets/EYLOGO.jpg" /><br><br><br><br><br><br>
        <b>Document Revision History</b><br>
        <table class="prev">
            <tr class="prev">
                <th class="prev">Ver. No.</th>
                <th class="prev">Ver. Date</th>
                <th class="prev">Prepared By</th>
                <th class="prev">Reviewed By</th>
                <th class="prev">Approved By</th>
                <th class="prev">Affected Section & Summary of Change</th>
            </tr>
            <tr>
                <td class="prev">1</td>
                <td class="prev">{{todayDate | date:'shortDate'}}</td>
                <td class="prev">Admin</td>
                <td class="prev"></td>
                <td class="prev"></td>
                <td class="prev">{{brdFields.rev}}</td>
            </tr>
        </table><br><br><br><br><br><br>
        <div class="container">
        <div><b><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Table of Contents</h5></b></div>
        <table>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Introduction</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.1 Purpose of the Document</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2 Intended Audience</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3 Project Background</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.4 Business Goals/ Objectives</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.5 Business Process flows	 </b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.6 Key Assumptions		     </b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Project Scope</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Business Requirements</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. User Roles/Permission requirements</b></tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5. Risks</b>	</tr>
            <tr><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6. Appendix</b></tr>
        </table>
    </div><br><br><br><br><br><br><br><br><br>
        <b>1. Introduction</b><br><br>{{brdFields.introduction}}<br><br>
        <b>1.1 Purpose of the Document</b><br><br>{{brdFields.purpose}}<br><br><br><br>
        <b>1.2 Intended Audience</b><br><br>The intended audience for this document is the users of the proposed system.<br><br> 
        <b>1.3 Project Background</b><br><br>{{brdFields.projectOverview}}<br><br>
        <b>1.4 Business Goals/ Objectives</b><br><br>{{brdFields.businessObjective}}<br><br>
        <b>1.5 Business Process flows</b><br><br>{{brdFields.workflow}}<br><br>
        <b>1.5.1 Existing business process</b><br><br>{{brdFields.currentFunc}}<br><br>
        <b>1.5.2 Proposed business process</b><br><br>{{brdFields.expeFunc}}<br><br>
        <b>1.6 Key Assumptions</b><br><br>{{brdFields.asumptions}}<br><br>
        <b>2. Project Scope</b><br><br>{{brdFields.projectScope}}<br><br>
        <b>3. Document Scope</b><br><br>{{brdFields.documentScope}}<br><br>
        <b>4. Acronyms and Definitions</b><br><br>{{brdFields.acr}}<br><br>
        <b>5. Process Workflow</b><br><br>{{brdFields.workflow}}<br><br>
        <b>6. Impacted System (country specific if any)</b><br><br>{{brdFields.impact}}<br><br>
        <b>7. Functional Requirements</b><br><br>{{brdFields.funcreq}}<br><br>
        <b>8. In Scope</b><br><br>{{brdFields.inScope}}<br><br>
        <b>9. Reporting</b><br><br>{{brdFields.report}}<br><br>
        <b>10. Reference</b><br><br>{{brdFields.ref}}<br><br>
        <b>11. Appendix</b><br><br>{{brdFields.app}}<br><br>
        <b>12. Revision History</b><br><br>{{brdFields.rev}}<br><br>
        <b>3. Business Requirements</b><br><br>
        <table class="prev">
            <tr class="prev">
                <th class="prev">ID</th>
                <th class="prev">Req Description</th>
            </tr>
            <tr class="prev">
                <td class="prev">1</td>
                <td class="prev">{{brdFields.funcreq}}</td>
            </tr>
        </table><br><br>
        <b>4. User Roles/Permission requirements</b><br><br>EX: User roles and permission requirements are consistent are as mentioned below.
        Defined roles are<br>•	Administrator<br> •	Investigator<br>Access permissions to the integrated system are:<br>
        <table class="prev">
            <tr class="prev">
                <th class="prev">Role</th>
                <th class="prev">Access</th>
            </tr>
            <tr class="prev">
                <td class="prev">Administrator</td>
                <td class="prev">Yes</td>
            </tr>
            <tr class="prev">
                <td class="prev">Investigator</td>
                <td class="prev">Yes</td>
            </tr>
    </table><br><br>
    <b>5. Risks</b><br><br>These are the identified risk points which can have undesirable influence on project execution.<br>
    Ex: <br>
    •	Incomplete/missing  business processes documentation <br>
    •	Accessibility to existing  system, technical documentation and associated data <br>
    •	Data privacy issues <br>
    •	Sign-off delays <br>
    •	Delay in getting SOW approval for additional enhancement work might prevent implementation of the complete workflow. <br><br>
    <!-- <b>6. Appendix</b><br><br>{{brdFields.app}}<br><br>{{brdFields.ref}}<br><br>{{brdFields.acr}}<br><br>{{brdFields.relatedFiles}}<br> -->
    </div>
</div>
</kendo-pdf-export>
<div class="row"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>File Saved Successfully</strong>

      </p>
    </div>
  </div>
<div class="bttn" style="background-color:#f1f1f1">
    <table >
      <tr>
        <td width=300><button class="btn btn-dark" type="button" routerLink="/brd">Previous</button></td>
        <td width=300><button class="btn btn-dark" kendo-button (click)="writeToPDF(pdf)">Save Document</button></td>
        <td width=300><button class="btn btn-dark" kendo-button (click)="pdf.saveAs(fileName)">Generate Document</button></td>
        <td width=300><button class="btn btn-dark" type="button"  routerLink="/brddocs">Exit</button></td>

      </tr>
    </table>
  </div>


